<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhide.dtsystem.mapper.ClientWindowMapper">
    <select id="getDataWindow" resultType="map">
        SELECT * FROM (
       SELECT ClientID,Name,FullName,SN,Type,SignMan,SignDate,Memo,Address,Mobile,row_number() over(ORDER  by ${sortField} ${sortOrder}) as
        RowNum,Count(1) over() as _TotalNum
        from tbClient
        <where>
            1=1 and dbo.fn_auth_client_window_signman(#{UserID},#{UserName},#{RoleID},#{RoleName},#{DepID},SignMan)=1
            <if test="orItems!=null">
                <if test="orItems.size()>0">
                    And
                    <foreach collection="orItems" open="(" close=")" separator=" OR " item="item">
                        (${item.field} ${item.oper} #{item.value})
                    </foreach>
                </if>
            </if>
            <if test="andItems!=null">
                <if test="andItems.size()>0">
                    And
                    <foreach collection="andItems" open="(" close=")" separator=" And " item="item">
                        (${item.field} ${item.oper} #{item.value})
                    </foreach>
                </if>
            </if>
            <if test="key!=null and key!=''">
                And Name like #{key}
            </if>
        </where>)t Where RowNum BETWEEN  #{Begin} And #{End}
    </select>
</mapper>