<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhide.dtsystem.mapper.NoticeMiddleFileMapper">
    <select id="getAllByType" resultType="java.lang.String">
        Select Distinct TZSBH from NoticeMiddleFile Where TZSBH in
        <foreach collection="IDS" index="index" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="getNiCheAllByType" resultType="java.lang.String">
        Select Distinct TZSBH from NoticeMiddleFile Where TZSBH in
        <foreach collection="IDS" index="index" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
