body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
}



ul#menu, ul#menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width:100%;
}

ul#menu a {
  display: block;
  text-decoration: none;	
  
}

ul#menu li 
{
   
   border-bottom:1px solid #95969A;
}

ul#menu li a {
  background-image:url(../Images/wbc.jpg);
    background-repeat:repeat-x;
  color: #000000;	
 height:38px;
}

ul#menu li a.current{
    background-image:url(../Images/bc.jpg);
    background-repeat:repeat-x;
    width:100%;
    color:#ffffff;
     
    }
ul#menu li a:hover {

}
.rows
{float: left; width: 100%;  margin-top:7px;
    }
.wleft
{float: left; margin-left:15px;
 margin-top:5px;   }
    .wright
    {float: left; margin-left: 10px; margin-top: 5px;
        }



